<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/createfile.css">
  <title>List of Projects</title>


</head>

<body>
 
  Create Your File
  </code></pre>
  <br>
  This is a code block above designed by Imagineee here is the code bellow to use it.
  <br><br>
  css:
  <br>

  <form action="/save" method="post">
  <pre><code>
  <input type="text" name="filename">
</code></pre>
  <br>
  Describe:
  <br>
  <pre><code>
  <textarea name="description" id="description"></textarea>
  
</code></pre>
<button>Save</button>
</form>
  </form>
  <hr>
  <br>
  This can be used in code articles and places to document code, you can obviously hook it up to a syntax highlighter
  like highlight js.
  <br><br>
  <hr>
  <footer style="text-align: center;">
    <p><img src="https://imagineeeinc.github.io/icon/user.png"
        style="width: 35px; border-radius: 75px; border: 1px solid lightgrey;"></p>
    <p>©
      <script>
        document.write(new Date().getFullYear())
      </script>
    </p>
    <a href="https://github.com/imagineeeinc">Imagineee</a>
  </footer>

</body>

</html>