<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Send your documents</h3>
    <form action="/docs" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name" >
        <input type="text" name="email" placeholder="email" >
        <input type="number" name="contact" placeholder="contact" >
        <input type="file" name="photo" placeholder="photo" >
        <button>submit</button>
    </form>
</body>
</html>